version: '3'
services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb/
    restart: always
    ports:
      - 3306:3306
    # volumes:
    #   - mydb:/var/lib/mysql
  adminer:
    image: adminer
    depends_on:
      - mariadb
    ports:
      - 8080:8080
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress/
    restart: always
    env_file: .env
    depends_on:
      - mariadb
    ports:
      - 9000:9000
    volumes:
      - Wordpress:/var/www/html
  nginx:
    container_name: nginx
    build: ./requirements/nginx/
    restart: always
    depends_on:
      - wordpress
    ports:
      - 443:443
    volumes:
      - Wordpress:/var/www/html
volumes:
  Wordpress: {}
  # mydb:
  #   driver: local
  #   driver_opts:
  #     type: none
  #     device: /Users/ybolles/Desktop/incep/db
  #     o: bind
  # Wordpress:
  #   driver_opts:
  #     type: none
  #     device: /Users/ybolles/Desktop/incep/wordpress
  #     o: bind

# networks:
# networks:
#   default:
#     external:
#       name: docker_default
#       # ipv4_address:
