version: '3'
services:
  ###################### Database container #####################
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb/
    restart: always
    env_file: .env
    ports:
      - 3306:3306
    volumes:
      - mydb:/var/lib/mysql
    networks:
      - inception_net
  ###################### Wordpress container #####################
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress/
    restart: always
    env_file: .env
    depends_on:
      - mariadb
    ports:
      - 9000:9000
    volumes:
      - Wordpress:/var/www/html
    networks:
      - inception_net
  ###################### Nginx container #####################
  nginx:
    container_name: nginx
    build: ./requirements/nginx/
    restart: always
    env_file: .env
    depends_on:
      - wordpress
    ports:
      - 443:443
    volumes:
      - Wordpress:/var/www/html
    networks:
      - inception_net
  ##################### Admin container #####################
  adminer:
    container_name: adminer
    build: ./requirements/bonus/adminer/
    restart: always
    env_file: .env
    depends_on:
      - mariadb
    ports:
      - 8080:8080
    networks:
      - inception_net
  ###################### Redis container #####################
  redis:
    container_name: redis
    build: ./requirements/bonus/redis/
    restart: always
    env_file: .env
    ports:
      - 6379:6379
    networks:
      - inception_net
  ###################### FTP Server container #####################
  ftp:
    container_name: ftp
    build: ./requirements/bonus/ftp
    restart: always
    env_file: .env
    depends_on:
      - wordpress
    ports:
      - "21:21"
      - 30000-30009:30000-30009
    volumes:
      - Wordpress:/home/ybolles/ftp
    networks:
      - inception_net
  ###################### My Website container #####################
  website:
    container_name: website
    build: ./requirements/bonus/website
    restart: always
    env_file: .env
    ports:
      - 3000:3000
    volumes:
      - Wordpress:/var/www/html
    networks:
      - inception_net
  ###################### cadvisor && backup Server container #####################
  backup:
    container_name: backup
    build: ./requirements/bonus/backup
    restart: always
    env_file: .env
    depends_on:
      - mariadb
    ports:
      - 7000:7000
    volumes:
      - mydb:/var/lib/mysql
    networks:
      - inception_net
###################### Volumes Section #####################
volumes:
  mydb:
    driver: local
    driver_opts:
      type: none
      device: /Users/ybolles/Desktop/incep/db
      o: bind
  Wordpress:
    driver_opts:
      type: none
      device: /Users/ybolles/Desktop/incep/wp
      o: bind
###################### Networks Section #####################
networks:
  inception_net:
