version: '3'
services:
  ###################### Database container #####################
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb/
    restart: always
    ports:
      - 3306:3306
    volumes:
      - mydb:/var/lib/mysql
    networks:
      - inception_net
  ###################### Wordpress container #####################
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress/
    restart: always
    env_file: .env
    depends_on:
      - mariadb
    ports:
      - 9000:9000
    volumes:
      - Wordpress:/var/www/html
    networks:
      - inception_net
  ###################### Nginx container #####################
  nginx:
    container_name: nginx
    build: ./requirements/nginx/
    restart: always
    depends_on:
      - wordpress
    ports:
      - 443:443
    volumes:
      - Wordpress:/var/www/html
    networks:
      - inception_net
  ##################### Admin container #####################
  adminer:
    container_name: adminer
    build: ./requirements/bonus/adminer/
    depends_on:
      - mariadb
    ports:
      - 8080:8080
    networks:
      - inception_net
  ###################### Redis container #####################
  redis:
    container_name: redis
    build: ./requirements/bonus/redis/
    ports:
      - 6379:6379
    networks:
      - inception_net
    
volumes:
  mydb:
    driver: local
    driver_opts:
      type: none
      device: /Users/ybolles/Desktop/incep/db
      o: bind
  Wordpress:
    driver_opts:
      type: none
      device: /Users/ybolles/Desktop/incep/wordpress
      o: bind
networks:
    inception_net:
